@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 766px) {


}
body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 992px) {
	.Joe{
		margin-left: 50px;
	}

}

#header{
	width: 120px;
	height: 50px;
	font-size: 24px;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	border:solid #4A4A4A 3px;
	padding-top: 1.5px;
}
.descriptionContainer{
	position: relative;
	margin-left: 10%;
    border-radius: 25px;
    background: #4A4A4A;
    padding: 20px; 
	width: 500px;
	margin-bottom: 50px;
	color: white;
}
.Neil{
	margin-left: 10%;
    border-radius: 25px;
    background: #4A4A4A;
    padding: 20px; 
	width: 350px;
	margin-bottom: 50px;
	color: white;
	display: block;
	padding-bottom: 40px;
	margin-right: 10%;
}
.Joe{
	border-radius: 25px;
    background: #4A4A4A;
    padding: 20px; 
	width: 350px;
	margin:0 auto;
	margin-bottom: 100px;
	color: white;
	display: block;
	


}

/*Navbar*/
.navbar{
	margin-top: 10px;
	margin-bottom: 0px;
	background-color: white;
	border:0px;
	margin-left: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #4A4A4A;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFC107;
    background-color: white;
}

ul.nav a:hover { 
	color: #FFC107 !important; 
}

.navbar-inverse .navbar-brand {
    color: #4A4A4A;
}


/*footer code*/

footer{
	margin-top: 10px;
	color:#FFC107;
	background-color: white;
	margin-left: 20px;
}
#complex-water{
	font-size: 16px;
	color: #4f92ff;
}
#supportFooter {
	margin-top: 5px;
	width: 400px;
	font-weight: 300;
	font-size: 12px;
	
}
#HQaddress{
	margin-top: 5px;
	font-weight: 300;
	font-size: 12px;
}
#Hours{
	margin-top: 5px;
	font-weight: 300;
	font-size: 12px;
}