html{
   margin: 0px 150px 0px 150px;
}

h1 { 
   font-size: 3em; 
   font-weight: bold; 
   margin-top: 0;
   font-family: 'Cookie', cursive;
}

h2, h3, h4 {
   font-family: Cuprum, Arial, sans-serif; 
}

div#topHeaderRow {
   font-size: 0.9em;
}

div#topHeaderRow .navbar-text {
   color: rgb(200, 200, 200);
}

div#topHeaderRow .navbar-text  a, div#topHeaderRow ul  a  {
   color: rgb(248, 248, 248);
}

.price { 
   font-size: 1.4em; 
   color: red; 
   font-weight: bold;

}

.similarTitle { 
   font-weight: bold; 
   font-size: 0.9em;
}

.cartText { 
   font-size: 0.75em; 
}

#artStoreHeader{
   color: white;
}

footer {
   margin-top: 1em;
   background-color: #E7E7E7;
}

.tight-form-group { 
   margin-bottom: 5px; 
}

#copyrightRow { 
   background-color: #3A3A3A; 
   padding: 0.75em 0 0.75em 0; 
   margin-top: 5px;
   color: white;
}

#mainNavigationRow ul a {
    font-family: Cuprum, Arial, sans-serif;
}